# 需要同时在阿里云效流水线配置同步变更
# Agora RTC App ID and App Certificate
AGORA_APP_ID=${AGORA_APP_ID}
AGORA_APP_CERT=${AGORA_APP_CERT}

# OpenAI API key and model
#OPENAI_API_KEY=
#OPENAI_MODEL=


AZURE_API_KEY=${AZURE_API_KEY}
AZURE_DEPLOYMENT=${AZURE_DEPLOYMENT}
AZURE_API_VERSION=${AZURE_API_VERSION}


# port of api server, the default value is 8080 if not specified
SERVER_PORT=80

# override this if you want to develop against a local dev server
REALTIME_API_BASE_URI=${REALTIME_API_BASE_URI}
